body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

header {
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: blueviolet;
    padding: 0;
    border:0;
    display: inline-block;
}

nav a {
    color:aliceblue;
    padding:10px 30px 10px 30px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}

nav a:hover {
    background-color: antiquewhite;
    color: purple;
    text-align: center;
}

.symbols-image {
    width: 20%;
    text-align: center;

}

img {
    width: 100%;
}